@page "/equipment"
@inject EquipmentService EquipmentService
@using GymManager.Shared.DTOs.Admin
@using GymManager.Client.Services
@using GymManager.Client.Components

<Navbar />
<Banner />
<ClientInfo />

<section class="py-5 bg-white text-dark">
    <div class="container-fluid text-center">
        <h2 class="mb-5" style="font-size: 2.5rem;">Available Equipment</h2>

        @if (equipments == null)
        {
            <p>Loading equipment...</p>
        }
        else if (equipments.Count == 0)
        {
            <p>No equipment found.</p>
        }
        else
        {
            <div class="row justify-content-center gx-4">
                @foreach (var equipment in equipments)
                {
                    <div class="col-md-3 mb-4 text-center">
                        <div class="trainer-img-wrapper mx-auto">
                            <img src=@($"http://localhost:5119{equipment.PhotoPath}") class="trainer-img" alt="@equipment.Name" />
                        </div>
                        <h4 class="mt-3">@equipment.Name</h4>
                        <p class="text-muted">@equipment.Description</p>
                    </div>
                }
            </div>
        }
    </div>
</section>

<Footer />

@code {
    private List<ReadEquipmentDto>? equipments;

    protected override async Task OnInitializedAsync()
    {
        equipments = await EquipmentService.GetPublicAsync();
    }
}
