@page "/"
@using GymManager.Client.Components
@using GymManager.Client.Services
@inject AuthStateService AuthState

<Navbar></Navbar>
<Banner></Banner>
<ClientInfo></ClientInfo>
<section class="py-5 bg-light">
    <div class="container-fluid px-5">
        <h1 class="mb-5 text-center" style="font-size:2.5rem">What can we offer <u style="color: #e01b1b">you?</u></h1>
        <div class="row">
            <div class="col-md-4 offer text-center">
                <h5 class="">Membership</h5>
                <i class="fa-solid fa-user-plus p-3"></i>
                <p class="p-3">Choose the perfect plan for yourself and take control of your fitness journey</p>
                <a href="/memberships" class="btn btn-danger px-5 py-4">Get more info!</a>
            </div>
            <div class="col-md-4 offer text-center">
                <h5>Equipment</h5>
                <i class="fa-solid fa-medal p-3"></i>
                <p class="p-2">Top-quality strength and cardio equipment designed to support every type of workout </p>
                <a href="/equipment" class="btn btn-danger px-5 py-4">Get more info!</a>
            </div>
            <div class="col-md-4 offer text-center">
                <h5>Training sessions</h5>
                <i class="fa-solid fa-dumbbell p-3"></i>
                <p class="p-2">Group and individual training sessions led by certified experts who are passionate about your progress</p>
                <a href="/classes" class="btn btn-danger px-5 py-4">Get more info!</a>
            </div>
        </div>
    </div>
</section>

<section class="py-5 bg-white text-dark">
    <div class="container-fluid text-center">
        <h2 class="mb-5" style="font-size: 2.5rem;">Check our team!</h2>
        <div class="row justify-content-center gx-2">
            <div class="col-md-3 mb-4 text-center">
                <div class="trainer-img-wrapper mx-auto">
                    <img src="images/trainer1.jpg" class="trainer-img" alt="Anna Kowalska" />
                </div>
                <h4 class="mt-3">Anna Kowalska</h4>
            </div>
            <div class="col-md-3 mb-4 text-center">
                <div class="trainer-img-wrapper mx-auto">
                    <img src="images/trainer2.jpg" class="trainer-img" alt="Paweł Nowak" />
                </div>
                <h4 class="mt-3">Paweł Nowak</h4>
            </div>
            <div class="col-md-3 mb-4 text-center">
                <div class="trainer-img-wrapper mx-auto">
                    <img src="images/trainer3.jpg" class="trainer-img" alt="Katarzyna Lewandowska" />
                </div>
                <h4 class="mt-3">Katarzyna Lewandowska</h4>
            </div>
        </div>
        <a href="/trainers" class="btn btn-danger px-5 py-4">Check us!</a>

    </div>
</section>


<section class="py-5 bg-light text-dark text-center">
    <div class="container-fluid px-5">
        <h2 class="mb-5" style="font-size: 2.5rem;">Our customers' opinions</h2>
        <div class="row justify-content-center mt-5">
            <div class="col-md-4 mb-4 mx-2">
                <div class="opinion-card position-relative p-4 bg-white shadow rounded">
                    <img src="images/user1.jpg" class="opinion-img rounded-circle" alt="Anna" />
                    <p class="mt-5 opinion-description p-4">“Great place and professional staff! The atmosphere is welcoming, everything is clean and well-organized. The team is friendly, helpful, and clearly knows what they’re doing. Highly recommended!”</p>
                    <strong>Anna</strong>
                </div>
            </div>
            <div class="col-md-4 mb-4 mx-2">
                <div class="opinion-card position-relative p-4 bg-white shadow rounded">
                    <img src="images/user2.jpg" class="opinion-img rounded-circle" alt="Paweł" />
                    <p class="mt-5 opinion-description p-4">"I’ve been training here for a year - the results are amazing! The workouts are effective, the atmosphere is motivating, and the trainers really know how to push you to do your best."</p>
                    <strong>Paweł</strong>
                </div>
            </div>
            <div class="col-md-4 mb-4 mt-5 mx-2">
                <div class="opinion-card position-relative p-4 bg-white shadow rounded">
                    <img src="images/user3.jpg" class="opinion-img rounded-circle" alt="Kasia" />
                    <p class="mt-5 p-4 opinion-description">"The vibe is always positive and welcoming - perfect for anyone, no matter their experience level."</p>
                    <strong>Kasia</strong>
                </div>
            </div>
        </div>
    </div>
</section>

@if (AuthState.IsLoggedIn && AuthState.UserRole == "Admin")
{
    <section>
        xdddddd
    </section>
}
<Footer></Footer>


@code {
    protected override void OnInitialized()
    {
        AuthState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AuthState.OnChange -= StateHasChanged;
    }
}