@using GymManager.Shared.DTOs.Admin
@inherits LayoutComponentBase

<nav class="navbar navbar-expand-lg navbar-dark px-3 navbar_style">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center nav_text" href="/">
            <i class="fa-solid fa-dumbbell me-2" style="color: #d52020;"></i>
            PrimeFit
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="mainNavbar">
            <ul class="navbar-nav mb-3 mb-lg-0 me-4 px-2 py-2">
                <li class="nav-item">
                    <a class="nav-link nav_text" href="/equipment">Equipment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav_text" href="/trainers">Trainers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav_text" href="/progress">Progress</a>
                </li>
            </ul>

            <a class="nav-link text-white" href="/login" title="Login">
                <i class="fa-solid fa-right-to-bracket"></i>
            </a>
        </div>
    </div>
</nav>

<section class="banner">
    <img src="images/xa.png" class="w-100" alt="Hero Banner" />
</section>

<section class="info-section d-flex flex-wrap">
    <div class="info-left d-flex align-items-center text-dark flex-grow-1">
        <div class="d-flex align-items-center mx-auto px-5">
            <i class="fa-solid fa-person-running fa-2x m-4 "></i>
            <div class="p-5 info-note">
                <h4 class="fw-bold" style="color: #F5F5F5">Client's zone</h4>
                <p class="m-5 line-height-tight">Keep up with your training plan by joining to us!</p>
                <a href="/login" class="btn btn-outline-light px-5 py-3">Login</a>
            </div>
        </div>
    </div>

    <div class="info-right d-flex align-items-center flex-grow-1">
        <div class="d-flex align-items-center mx-auto px-5">
            <i class="fa-solid fa-calendar-days fa-2x m-4" style="color:#e01b1b"></i>
            <div class="p-5 info-note">
                <h4 class="fw-bold" style="color: #F5F5F5">Trainings schedule</h4>
                <p class="m-5 line-height-tight" style="color: #e01b1b">Let's check available trainings that gonna happen soon!</p>
                <a href="/schedule" class="btn btn-outline-danger px-5 py-3">Check</a>
            </div>
        </div>
    </div>
</section>

@Body

<footer class="bg-dark text-white text-center py-4">
    <div class="container">
        <h5 class="mb-3" style="color: #e01b1b; font-size: 2rem;">
            PrimeFit – Your Way to Fitness!
        </h5>
        <p class="mb-1" style="font-size: 1.2rem;">
            📍 ul. Sportowa 5, 00-001 Warszawa
        </p>
        <p class="mb-1" style="font-size: 1.2rem;">
            ✉️ kontakt@primefit.pl | 📞 123-456-789
        </p>
        <hr style="border-color: rgba(255, 255, 255, 0.2); width: 60%; margin: 1.5rem auto;">
        <p class="mb-0" style="font-size: 1rem; color: #ccc;">
            &copy; 2025 PrimeFit. All rights reserved.
        </p>
    </div>
</footer>