<section class="info-section d-flex flex-wrap">
    <div class="info-left d-flex align-items-center text-dark flex-grow-1">
        <div class="d-flex align-items-center mx-auto px-5">
            <i class="fa-solid fa-person-running fa-2x m-4" style="font-size: 3rem"></i>
            <div class="p-5 info-note">
                <h4 class="fw-bold" style="color: #F5F5F5">Client's zone</h4>
                <p class="m-5 line-height-tight" style="font-size: 1.2rem">Keep up with your training plan by joining to us!</p>
                <a href="/login" class="btn btn-outline-dark px-5 py-3">Login</a>
            </div>
        </div>
    </div>

    <div class="info-right d-flex align-items-center flex-grow-1">
        <div class="d-flex align-items-center mx-auto px-5">
            <i class="fa-solid fa-calendar-days fa-2x m-4" style="color:#e01b1b; font-size: 3rem"></i>
            <div class="p-5 info-note">
                <h4 class="fw-bold" style="color: #F5F5F5">Trainings schedule</h4>
                <p class="m-5 line-height-tight" style="color: #e01b1b">Let's check available trainings that gonna happen soon!</p>
                <a href="/schedule" class="btn btn-outline-danger px-5 py-3">Check</a>
            </div>
        </div>
    </div>
</section>